<nav class="navi">
    <div>
        <img class="logo" src="./" alt="Logo">
    </div>

    <ul class="navi-list">
        <li><a [routerLink]="['home']">HOME</a></li>
        <li><a [routerLink]="['akira']">AkirA</a></li>
        <li><a [routerLink]="['cyberpunk']">Cyber <img src="assets/image/cyber-imagens/cyber-boton.jpg" alt=""> Punk</a></li>
        <li><a [routerLink]="['fallout']">Fallout</a></li>
        <li><a [routerLink]="['junjiito']">Junji <img src="assets/image/jinju-imagens/junji-boton.jpg/" alt="/"> Ito</a></li>
        <li><a [routerLink]="['starwras']">Star <img src="assets/image/star-imagens/sabre-boton.jpg" alt="/"> Wars</a></li>
    </ul>
</nav>
